.ui-container {
    position: absolute;
    top: 50px;
    right: 50px;
}
.type-selector {
    width: 80px;
    border: 2px black solid;
}
.type-selector > * {
    padding: 2em;
    width: 100%;
}
.export-btn {
    background: black;
    color:antiquewhite;
}