#root {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;
}

.tile {
    position: absolute;
    background-color: blueviolet;

    border: 1px black solid;
}

.scene {
    position: relative;
}

.type-selector {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    border: 2px black solid;
}

.type-selector > * {
    padding: 2em;
}