#root {

}
.ui-container {
    display: flex;
}

.scene {
    position: relative;
    width: 10em;
}
.tile {
    position: absolute;
    background-color: blueviolet;
    border: 1px black solid;
}
.terminal {
    font-family: monospace;
    background-color: #888;
    overflow: scroll;
    color: #EEE;
    height: 5em;
    width: 20em;
}